<?php require_once __DIR__ . '/DB/DB.php';

class Configuration {
	/**
	 * Prefix of the tables
	 */
	const DB_PREFIX = 'tbl';
	/**
     * End Word that means the field is an id or an foreign key
     */
	const DB_ENDWORD_ID = '_id';

    private static $db_name = "example";
    private static $db_host = "localhost";
    private static $db_port = "3306";
    private static $db_user = "root";
    private static $db_pass = "password";
    private static $DB = null;
    
    /**
     * @return DB
     */
    public static function DB(): DB {
        if (self::$DB == null)
            self::$DB = new DB(self::$db_user, self::$db_pass, self::$db_name, self::$db_host, self::$db_port);
        return self::$DB;
    }
}